# basic mysql . intro part

In [22]:
import mysql.connector

In [23]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password_",
    database = "mypydb"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f24fbc40580>

In [24]:
# cursor() is used to execute statment of mysql

In [26]:
mycursor =mydb.cursor()
mycursor.execute("DROP DATABASE mypydb")

In [27]:
mycursor.execute("CREATE DATABASE mypydb")

In [28]:
mycursor.execute("SHOW DATABASES")

In [29]:
for x in mycursor:
    print(x)

('XYZ',)
('college',)
('college1',)
('information_schema',)
('mydata1',)
('mypydb',)
('mysql',)
('performance_schema',)
('sys',)

In [31]:
mycursor.execute("USE mypydb")
mycursor.execute("CREATE TABLE clz1 (name VARCHAR(50), address VARCHAR(50))")

In [32]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('clz1',)