In [1]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 KB 2.0 MB/s eta 0:00:00[31m1.8 MB/s eta 0:00:01
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/lib/python3/dist-packages (from pymongo) (2.1.0)
Installing collected packages: pymongo
Successfully installed pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pymongo

In [11]:
client = pymongo.MongoClient("mongodb+srv://mydb:yGB8HM8WJjdFaUcT@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [15]:
mydb = client["firstdb"]

In [16]:
print(client.list_database_names())

['admin', 'local']

In [18]:
dblist = client.list_database_names()
if "firstdb" in dblist:
    print("there is your database")
else:
    print("there is not")

there is not

In [19]:
mycollection = mydb["some1"]

In [20]:
mydict = {"name":"willson", "age":23, "address":"lainchour"}
x = mycollection.insert_one(mydict)

In [21]:
print(mydb.list_collection_names())

['some1']

In [22]:
print(client.list_database_names())

['firstdb', 'admin', 'local']

In [24]:
print(client.list_collection_names()) #this gives some error please note it

TypeError: 'Database' object is not callable

In [25]:
print(x.inserted_id)

6535e78e13d5f7eaf5fc373d

In [26]:
mydict2 = {"name":"willson",
           "class":"bsc",
           "major":"statistics"
          }
x2 = mycollection.insert_one(mydict2)

In [27]:
print(x2.inserted_id)

6535e99c13d5f7eaf5fc373e

In [30]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
x3 = mycollection.insert_many(mylist)

In [32]:
print(x3.inserted_ids)

[ObjectId('6535ea2f13d5f7eaf5fc3757'), ObjectId('6535ea2f13d5f7eaf5fc3758'), ObjectId('6535ea2f13d5f7eaf5fc3759'), ObjectId('6535ea2f13d5f7eaf5fc375a'), ObjectId('6535ea2f13d5f7eaf5fc375b'), ObjectId('6535ea2f13d5f7eaf5fc375c'), ObjectId('6535ea2f13d5f7eaf5fc375d'), ObjectId('6535ea2f13d5f7eaf5fc375e'), ObjectId('6535ea2f13d5f7eaf5fc375f'), ObjectId('6535ea2f13d5f7eaf5fc3760'), ObjectId('6535ea2f13d5f7eaf5fc3761'), ObjectId('6535ea2f13d5f7eaf5fc3762')]

In [33]:
mylist2 = [
    {"_id":1, "name":"manoj", "address":"bkt", "age":23},
    {"_id":2, "name":"neerajan", "address":"upper", "age":34},
    {"_id":3, "name":"manoj", "address":"bkt", "age":23},
    {"_id":4, "name":"manoj", "address":"bkt", "age":23}
]
x4 = mycollection.insert_many(mylist2)
print(x4.inserted_ids)

[1, 2, 3, 4]

In [34]:
y = mycollection.find_one()
print(y)

{'_id': ObjectId('6535e78e13d5f7eaf5fc373d'), 'name': 'willson', 'age': 23, 'address': 'lainchour'}

In [38]:
mydict3 = {"_id":5, "name":"prakash", "age":20} #it give error when prvious id is aassign to same collection so try in using unique one otherwise it give error
x5 = mycollection.insert_one(mydict3)

DuplicateKeyError: E11000 duplicate key error collection: firstdb.some1 index: _id_ dup key: { _id: 5 }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: firstdb.some1 index: _id_ dup key: { _id: 5 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 5}}

In [37]:
print(x5.inserted_id)

5

In [45]:
for x in mycollection.find({},{"_id":1,"name":"willson"}):
    print(x)

{'_id': ObjectId('6535e78e13d5f7eaf5fc373d'), 'name': 'willson'}
{'_id': ObjectId('6535e99c13d5f7eaf5fc373e'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc373f'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3740'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3741'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3742'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3743'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3744'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3745'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3746'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3747'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3748'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3749'), 'name': 'willson'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc374a'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374b'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374c'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374d'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374e'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374f'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3750'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3751'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3752'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3753'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3754'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3755'), 'name': 'willson'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3756'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3757'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3758'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3759'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375a'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375b'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375c'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375d'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375e'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375f'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3760'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3761'), 'name': 'willson'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3762'), 'name': 'willson'}
{'_id': 1, 'name': 'willson'}
{'_id': 2, 'name': 'willson'}
{'_id': 3, 'name': 'willson'}
{'_id': 4, 'name': 'willson'}
{'_id': 5, 'name': 'willson'}

In [48]:
for x in mycollection.find({},{"_id":0}):
    print(x)

{'name': 'willson', 'age': 23, 'address': 'lainchour'}
{'name': 'willson', 'class': 'bsc', 'major': 'statistics'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'manoj', 'address': 'bkt', 'age': 23}
{'name': 'neerajan', 'address': 'upper', 'age': 34}
{'name': 'manoj', 'address': 'bkt', 'age': 23}
{'name': 'manoj', 'address': 'bkt', 'age': 23}
{'name': 'prakash', 'age': 20}

In [52]:
myquery = {"name":{"$gt":"H"}}
myd = mycollection.find(myquery)
for x in myd:
    print(x)

{'_id': ObjectId('6535e78e13d5f7eaf5fc373d'), 'name': 'willson', 'age': 23, 'address': 'lainchour'}
{'_id': ObjectId('6535e99c13d5f7eaf5fc373e'), 'name': 'willson', 'class': 'bsc', 'major': 'statistics'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3740'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3741'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3742'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3744'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3745'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3746'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3748'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc374a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3750'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3751'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3752'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3754'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3756'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3758'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3759'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3760'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3762'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 2, 'name': 'neerajan', 'address': 'upper', 'age': 34}
{'_id': 3, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 4, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 5, 'name': 'prakash', 'age': 20}

In [53]:
myq = {"name":{"$regex":"^S"}}
myco = mycollection.find(myq)
for x in myco:
    print(x)

{'_id': ObjectId('6535ea0e13d5f7eaf5fc3742'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3745'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3751'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375d'), 'name': 'Susan', 'address': 'One way 98'}

In [55]:
mydoc = mycollection.find().sort("name",-1)
for x in mydoc:
    print(x)

{'_id': ObjectId('6535e78e13d5f7eaf5fc373d'), 'name': 'willson', 'age': 23, 'address': 'lainchour'}
{'_id': ObjectId('6535e99c13d5f7eaf5fc373e'), 'name': 'willson', 'class': 'bsc', 'major': 'statistics'}
{'_id': 5, 'name': 'prakash', 'age': 20}
{'_id': 2, 'name': 'neerajan', 'address': 'upper', 'age': 34}
{'_id': 1, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 3, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 4, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3748'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3754'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3760'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc374a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3756'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3762'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3746'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3752'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3745'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3751'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3742'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3744'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3750'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3741'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3759'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3740'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3758'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3749'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3755'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3761'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3743'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3747'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3753'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc373f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3757'), 'name': 'Amy', 'address': 'Apple st 652'}

In [56]:
mydoc2 = mycollection.find().sort("name",1)
for x in mydoc2:
    print(x)

{'_id': ObjectId('6535ea0e13d5f7eaf5fc373f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3757'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3747'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3753'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3743'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3749'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3755'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3761'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3740'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3758'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3741'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3759'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3744'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3750'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3742'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc374e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3745'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3751'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3746'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3752'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc375e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc374a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3756'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3762'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6535ea0e13d5f7eaf5fc3748'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea2a13d5f7eaf5fc3754'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6535ea2f13d5f7eaf5fc3760'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 1, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 3, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 4, 'name': 'manoj', 'address': 'bkt', 'age': 23}
{'_id': 2, 'name': 'neerajan', 'address': 'upper', 'age': 34}
{'_id': 5, 'name': 'prakash', 'age': 20}
{'_id': ObjectId('6535e78e13d5f7eaf5fc373d'), 'name': 'willson', 'age': 23, 'address': 'lainchour'}
{'_id': ObjectId('6535e99c13d5f7eaf5fc373e'), 'name': 'willson', 'class': 'bsc', 'major': 'statistics'}