### practice own

In [36]:
import pymongo
myclient = pymongo.MongoClient("mongodb+srv://mydb:yGB8HM8WJjdFaUcT@cluster0.eqh73l8.mongodb.net/?retryWrites=true&w=majority")

In [71]:
myclient.test

Database(MongoClient(host=['ac-0fxkcim-shard-00-01.eqh73l8.mongodb.net:27017', 'ac-0fxkcim-shard-00-00.eqh73l8.mongodb.net:27017', 'ac-0fxkcim-shard-00-02.eqh73l8.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-uhj3nq-shard-0', tls=True), 'test')

In [16]:
print(myclient.list_database_names())

['firstdb', 'mydatabase2', 'admin', 'local']

In [17]:
name = myclient.list_database_names()
if "mydatabase2" in name:
    mydb = myclient["mydatabase2"]
else:
    print("It already exists rename to something else")

In [75]:
mycoll1 = mydb["customers"]

In [73]:
myli = mydb.list_collection_names()

In [74]:
if "customers" in myli:
    print(myli)

['customers']

In [66]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [67]:
x = mycoll1.insert_many(mylist)

In [70]:
for x in mycoll1.find():
    print(x)

{'_id': ObjectId('6545c4565066dde1fe1f1936'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6545c4565066dde1fe1f1937'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6545c4565066dde1fe1f1938'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6545c4565066dde1fe1f1939'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6545c4565066dde1fe1f193a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6545c4565066dde1fe1f193b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6545c4565066dde1fe1f193c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6545c4565066dde1fe1f193d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6545c4565066dde1fe1f193e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6545c4565066dde1fe1f193f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6545c4565066dde1fe1f1940'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6545c4565066dde1fe1f1941'), 'name': 'Viola', 'address': 'Sideway 1633'}