### python inheritance from w3school

In [8]:
class Person:
    def __init__(self, fname , lname):
      self.firstname = fname
      self.lastname = lname

    def printname(self):
        
        return f" Your full name is {self.firstname } {self.lastname}" # here is no space between two brackets

In [9]:
person1  = Person("Manoj", "Nepal")
person1.printname()

' Your full name is Manoj Nepal'

## creating class child

### extra note: function (arg): function always have argunment and parameter is passed in this function when fucntion is called .

In [10]:
class student(Person):
    # here student is new class which take parameter as Person class from previous class
    pass

In [11]:
student1 = student("hari", "neerajan")
student1.printname()

' Your full name is hari neerajan'

In [12]:
class student1(Person):
    def __init__(self, fname_s, lname_s, age): # this line override the __init__ funcion 
        self.firstname = fname_s          # if it doesn't then there is 2 parameter
                                           # but here is 3 parameter and has to show error
        self.lastname = lname_s
        self.age = 0

In [46]:
student_ram = student1("Ram", "Bastola" ,23)
student_ram.firstname

'Ram'

## here it doesn't inherits the property of Person class

In [29]:
class test1:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def printname(self):
        print(self.name, self.age)

class child1(test1):
        def __init(self, fname, age,location):
            test1.__init__(self, name, age)

# argunment should match . both child and parent
x = child1("WillsonBhandari", 23, "thamel")
x.printname()

TypeError: test1.__init__() takes 3 positional arguments but 4 were given

# here is the solution of above code

In [39]:
class test1:
    def __init__(self, name, age, location):
        self.name = name
        self.age = age

    def printname(self):
        print(self.name, self.age)

class child1(test1):
        def __init(self, age, name,location):
            test1.__init__(self, name, age,location)

# argunment should match . both child and parent
x = child1("WillsonBhandari", 23, "thamel")
x.printname()

WillsonBhandari 23

### use of super() function

In [45]:
class dog:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed

    def dog_method1(self):
        return f" name:{self.name} age :{self.age}"
    def dog_method2(self):
        return f" breed: {self.breed}"

class child1(dog):
    def __init(self, name, age, breed):
        super().__init__(name, age, breed)

obj1 = child1(2,"luci" , "eskimo dog")
print(obj1.dog_method1())
obj1.dog_method2()

## this is multi line comment
# here what has happened . python doesn't support varible name in this case ie variable name
# of child  and parent is same even though it doesn't understood it and printed 2 as name

 name:2 age :luci

' breed: eskimo dog'

In [47]:
obj2 = child1("luci", 2, "eskimo") # here is the correct form 
obj2.dog_method1()

' name:luci age :2'

In [90]:
class animal:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed
    def name_age(self):
        return f" {self.name}, {self.age}"
    def breed_(self):
        return f"{self.breed},{self.age}"
class cat(animal):
    def __init__(self, name, age, breed):
        super().__init__(name, age, breed)
class dog(animal):
    def __init__(self, name, age, breed, condition):
        super().__init__(name,age, breed)
        self.condition = condition

In [92]:
cat1 = cat("luci", 2, "shorthair")
dog1 = dog("teddy", 3, "eskimo", "alive")
print(cat1.name_age())
print(dog1.breed_())
dog1.condition

 luci, 2
eskimo,3

'alive'

## see the difference

In [93]:
class animal:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed
    def name_age(self):
        return f" {self.name}, {self.age}"
    def breed(self):# this is string object 
        return f"{self.breed},{self.age}"
class cat(animal):
    def __init__(self, name, age, breed):
        super().__init__(name, age, breed)
class dog(animal):
    def __init__(self, name, age, breed, condition):
        super().__init__(name,age, breed)
        self.condition = condition

In [95]:
cat1 = cat("luci", 2, "shorthair")
dog1 = dog("teddy", 3, "eskimo", "alive")
print(cat1.name_age())
print(dog1.breed()) #this is string object calling 
dog1.condition

 luci, 2

TypeError: 'str' object is not callable

### see the difference in calling of breed
use remove () and it give output only of fist value not all . the method is string type so

In [97]:
class animal:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed
    def name_age(self):
        return f" {self.name}, {self.age}"
    def breed(self):# this is string object 
        return f"{self.breed},{self.age}"
class cat(animal):
    def __init__(self, name, age, breed):
        super().__init__(name, age, breed)
class dog(animal):
    def __init__(self, name, age, breed, condition):
        super().__init__(name,age, breed)
        self.condition = condition

In [96]:
cat1 = cat("luci", 2, "shorthair")
dog1 = dog("teddy", 3, "eskimo", "alive")
print(cat1.name_age())
print(dog1.breed) # removing () from this line #this is string object calling 
dog1.condition

 luci, 2
eskimo

'alive'

### finding why we don't use super() function

In [102]:
class animal:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed
    def name_age(self):
        return f" {self.name}, {self.age}"
    def breed(self):# this is string object 
        return f"{self.breed},{self.age}"
class cat(animal):
     pass
class dog(animal):

     pass

In [103]:
cat1 = cat("luci", 2, "shorthair")
dog1 = dog("teddy", 3, "eskimo", "alive")
print(cat1.name_age())
print(dog1.breed) # removing () from this line #this is string object calling 
dog1.condition

TypeError: animal.__init__() takes 4 positional arguments but 5 were given

### Adding method in child class

In [105]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("katrina", "caif", 2023)
x.welcome()

Welcome katrina caif to the class of 2023

## multiple inheritance

In [106]:
class class1:
    pass

In [107]:
class class2(class1):
    pass

In [108]:
class class3(class2):
    pass

## oor

In [111]:
class class1:
    pass
class class2:
    pass
class class3(class1,class2):
    pass

In [ ]:
x = class3()