## DataFrames
we have seen some basic of loading data into dataframe is seen in the previous example 
so here we discuss some other important topics

# locate rows

In [2]:
import pandas as pd

In [3]:
data = {
    "periods":["first", "second", "third", "last"],
    "subjects":["spatial", "survey", "modeling", "Official"]
}
var5 = pd.DataFrame(data)
print(var5)

  periods  subjects
0   first   spatial
1  second    survey
2   third  modeling
3    last  Official

In [5]:
print(var5.loc[0]) #thi will provide row of 0 index . loc is attribute
# it gives series of data as series. haha

periods       first
subjects    spatial
Name: 0, dtype: object

In [10]:
print(var5.loc[[0,1]]) #the range gives us data frame in python

  periods subjects
0   first  spatial
1  second   survey

# indexing dataframe . ie we just remove 0 1 2 3 to some other name or index as we want is 
called indexing

In [11]:
var6 = pd.DataFrame(data, index = ["Time:6-7", "Time: 7-8", "Time:8-9", "Time:9-10"])

In [12]:
print(var6)

          periods  subjects
Time:6-7    first   spatial
Time: 7-8  second    survey
Time:8-9    third  modeling
Time:9-10    last  Official

In [14]:
print(var6.loc["Time:8-9"]) # this gives us serires type data

periods        third
subjects    modeling
Name: Time:8-9, dtype: object

In [16]:
data1 = pd.read_csv("/home/slliw/Downloads/data.csv")
data1

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [19]:
filename = "/home/slliw/Downloads/melb_data.csv"
reader = pd.read_csv(filename)
reader.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000